In [1]:
import pandas as pd
import pathlib

In [2]:
meta_file = '../testdata/bmkg/laporan_metadata_stasiun.xlsx'
meta_file = pathlib.Path(meta_file)

In [3]:
rawxl = pd.read_excel(meta_file, skiprows=range(0,5))

In [4]:
rawxl.columns

Index(['No. Stasiun ', 'Nama Stasiun', 'Jenis Stasiun', 'Region', 'Propinsi',
       'Kabupaten', 'Lintang (°)', 'Bujur (°)', 'Ketinggian (mdpl)', 'Soil',
       'Exposure', 'Land Use', 'Time Zone'],
      dtype='object')

In [5]:
rawxl.columns = ['id.stat', 'name.stat', 'type.stat', 'region', 'provinsi', 'kabupaten', 'lintang.derajat', 'bujur.derajat', 'ketinggian.mdpl',
'soil', 'exposure', 'land.use', 'time.zone']

In [6]:
rawxl.head()

,id.stat,name.stat,type.stat,region,provinsi,kabupaten,lintang.derajat,bujur.derajat,ketinggian.mdpl,soil,exposure,land.use,time.zone
0,11010101a,Bakongan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,2.95000,97.4700,0,NaN,NaN,NaN,+07:00
1,11010201a,Kluet Utara,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.59000,97.0000,0,NaN,NaN,NaN,NaN
2,11010301a,Kluet Selatan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.03000,97.3800,0,NaN,NaN,NaN,NaN
3,11010401a,Labuhan Haji,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54000,97.0100,0,NaN,NaN,NaN,NaN
4,11010501a,Meukek,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54321,97.1523,0,NaN,NaN,NaN,NaN

In [9]:
rawxl.head()

,id.stat,name.stat,type.stat,region,provinsi,kabupaten,lintang.derajat,bujur.derajat,ketinggian.mdpl,soil,exposure,land.use,time.zone
0,11010101a,Bakongan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,2.95000,97.4700,0,NaN,NaN,NaN,+07:00
1,11010201a,Kluet Utara,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.59000,97.0000,0,NaN,NaN,NaN,NaN
2,11010301a,Kluet Selatan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.03000,97.3800,0,NaN,NaN,NaN,NaN
3,11010401a,Labuhan Haji,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54000,97.0100,0,NaN,NaN,NaN,NaN
4,11010501a,Meukek,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54321,97.1523,0,NaN,NaN,NaN,NaN

In [10]:
rawxl[rawxl['name.stat'].str.contains('citeko',case=False)]

,id.stat,name.stat,type.stat,region,provinsi,kabupaten,lintang.derajat,bujur.derajat,ketinggian.mdpl,soil,exposure,land.use,time.zone
800,96751,Stasiun Meteorologi Citeko,UPT,Region II,Jawa Barat,Kab. Bogor,-6.70000,106.85000,920,NaN,NaN,NaN,+07:00
805,32012509g,AWS Stamet Citeko,aws,Region II,Jawa Barat,Kab. Bogor,-6.69796,106.93510,0,NaN,NaN,NaN,NaN
873,32012508a,Citeko,Pos Hujan Kerjasama,Region II,Jawa Barat,Kab. Bogor,-6.68620,106.92534,887,NaN,NaN,NaN,NaN
874,32012510a,Panjang Citeko,Pos Hujan Kerjasama,Region II,Jawa Barat,Kab. Bogor,-6.70242,106.93765,1022,NaN,NaN,NaN,NaN

In [11]:
rawxl.to_csv('metadata_station.csv')

In [31]:
sedia_jabar_file = '../testdata/bmkg/Ketersediaan_Data_Table_curah_hujan.xlsx'
sedia_jabar_file = pathlib.Path(sedia_jabar_file)

In [32]:
rawxl_sedia = pd.read_excel(sedia_jabar_file, skiprows=range(3))

In [38]:
rawxl_sedia.columns

Index(['Kode Stasiun', 'Nama Stasiun',  'Bulan Tahun',           '01',
                 '02',           '03',           '04',           '05',
                 '06',           '07',           '08',           '09',
                   10,             11,             12,             13,
                   14,             15,             16,             17,
                   18,             19,             20,             21,
                   22,             23,             24,             25,
                   26,             27,             28,             29,
                   30,             31,   'Persentase'],
      dtype='object')

In [39]:
rawxl_sedia.columns

Index(['Kode Stasiun', 'Nama Stasiun',  'Bulan Tahun',           '01',
                 '02',           '03',           '04',           '05',
                 '06',           '07',           '08',           '09',
                   10,             11,             12,             13,
                   14,             15,             16,             17,
                   18,             19,             20,             21,
                   22,             23,             24,             25,
                   26,             27,             28,             29,
                   30,             31,   'Persentase'],
      dtype='object')