In [1]:
import pandas as pd
import pathlib

In [2]:
meta_file = '../testdata/bmkg/laporan_metadata_stasiun.xlsx'
meta_file = pathlib.Path(meta_file)

In [7]:
rawxl = pd.read_excel(meta_file, skiprows=range(0,5))

In [8]:
rawxl.columns

Index(['No. Stasiun ', 'Nama Stasiun', 'Jenis Stasiun', 'Region', 'Propinsi',
       'Kabupaten', 'Lintang (°)', 'Bujur (°)', 'Ketinggian (mdpl)', 'Soil',
       'Exposure', 'Land Use', 'Time Zone'],
      dtype='object')

In [10]:
rawxl.columns = ['id.stat', 'name.stat', 'type.stat', 'region', 'provinsi', 'kabupaten', 'lintang.derajat', 'bujur.derajat', 'ketinggian.mdpl',
'soil', 'exposure', 'land.use', 'time.zone']

In [12]:
rawxl.head()

,id.stat,name.stat,type.stat,region,provinsi,kabupaten,lintang.derajat,bujur.derajat,ketinggian.mdpl,soil,exposure,land.use,time.zone
0,11010101a,Bakongan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,2.95000,97.4700,0,NaN,NaN,NaN,+07:00
1,11010201a,Kluet Utara,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.59000,97.0000,0,NaN,NaN,NaN,NaN
2,11010301a,Kluet Selatan,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.03000,97.3800,0,NaN,NaN,NaN,NaN
3,11010401a,Labuhan Haji,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54000,97.0100,0,NaN,NaN,NaN,NaN
4,11010501a,Meukek,Pos Hujan Kerjasama,Region I,Nanggroe Aceh Darussalam,Kab. Aceh Selatan,3.54321,97.1523,0,NaN,NaN,NaN,NaN

In [ ]:
raw

In [52]:
rawxl[rawxl['name.stat'].str.contains('citeko',case=False)]

,id.stat,name.stat,type.stat,region,provinsi,kabupaten,lintang.derajat,bujur.derajat,ketinggian.mdpl,soil,exposure,land.use,time.zone
800,96751,Stasiun Meteorologi Citeko,UPT,Region II,Jawa Barat,Kab. Bogor,-6.70000,106.85000,920,NaN,NaN,NaN,+07:00
805,32012509g,AWS Stamet Citeko,aws,Region II,Jawa Barat,Kab. Bogor,-6.69796,106.93510,0,NaN,NaN,NaN,NaN
873,32012508a,Citeko,Pos Hujan Kerjasama,Region II,Jawa Barat,Kab. Bogor,-6.68620,106.92534,887,NaN,NaN,NaN,NaN
874,32012510a,Panjang Citeko,Pos Hujan Kerjasama,Region II,Jawa Barat,Kab. Bogor,-6.70242,106.93765,1022,NaN,NaN,NaN,NaN

In [27]:
rawxl.to_csv('metadata_station.csv')

In [28]:
sedia_jabar_file = '../testdata/bmkg/Ketersediaan_Data_Table_curah_hujan.xlsx'
sedia_jabar_file = pathlib.Path(sedia_jabar_file)

In [40]:
rawxl_sedia = pd.read_excel(sedia_jabar_file, skiprows=range(3))

In [41]:
rawxl_sedia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 35 columns):
Kode Stasiun    1776 non-null int64
Nama Stasiun    1776 non-null object
Bulan Tahun     1776 non-null object
01              1776 non-null object
02              1776 non-null object
03              1776 non-null object
04              1776 non-null object
05              1776 non-null object
06              1776 non-null object
07              1776 non-null object
08              1776 non-null object
09              1776 non-null object
10              1776 non-null object
11              1776 non-null object
12              1776 non-null object
13              1776 non-null object
14              1776 non-null object
15              1776 non-null object
16              1776 non-null object
17              1776 non-null object
18              1776 non-null object
19              1776 non-null object
20              1776 non-null object
21              1776 non-null object
22              1776 non-null object
23              1776 non-null object
24              1776 non-null object
25              1776 non-null object
26              1776 non-null object
27              1776 non-null object
28              1776 non-null object
29              1776 non-null object
30              1776 non-null object
31              1776 non-null object
Persentase      1776 non-null object
dtypes: int64(1), object(34)
memory usage: 485.7+ KB